:root {
    --bg-color: #101010;
    --header-bg: #222222;
    --text-color: #6cc312;
    --btn-primary: #6cc312;
    --btn-secondary: #6cc312;
    --btn-hover: #7b7b7b;
}

body 
{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99.8%;
    padding: 18px 10px;
    background: var(--header-bg);
    position: fixed;
    top: 0;
    left: 0;

}

.logo {
    font-size: 15px;
    font-weight: bold;
}

.brand {
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
}

.auth a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.auth a:hover 
{
   text-decoration: none;
}

.gray-text {
    color: white;
}

.green-text 
{
    color: #6cc312;
}

.header p 
{
    color: var(--text-color);
    font-weight: bold;
}

.header a {
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease;
    text-decoration: none;
}

.header a:hover 
{
     color: var(--btn-hover); 
}


.content {
    min-height: 68vh;
    margin-top: 100px;
    max-width: 500px;
    margin: 100px auto; 
    padding: 100px;
    background: #222222;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    --text-color: #7b7b7b;
    width: 188px; 
    height: 45px; 
    font-size: 17px; 
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background: var(--btn-primary);
    max-width: 400px;
    max-height: 200px;
    color: white;
}

.btn-secondary 
{
    background: var(--btn-secondary);
    color: white;
}

button:hover 
{
    background: var(--btn-hover);
    color: greenyellow;
}

.content h2 {
    position: relative;
    left: -20px;
    top: -50px;
    color: white;
}


.content p {
    height: 50vh;
    color: white;
}
