@{
ViewData["Title"] = "canvas";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/fabric@latest/dist/index.min.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/canvas.css">
</head>

<body>
    <canvas id="grid"></canvas>
    <script src="/js/grid.js"></script>
<div id="canvas-related">
    <div id="ui-toolbar">
        <button id="set-cursor-style">1</button>
        <button id="set-pencil-style">2</button>
        <button id="set-delete-style">3</button>
            <input type="color" id="color-picker" value="#000000">
            <input type="text"  id="color-input"  value="#000000">
        <button id="create-square">Square</button>
        <button id="create-rectangle">Rectangle</button>
        <button id="create-circle">Circle</button>
        <button id="create-triangle">Triangle</button>
        <button id="create-parallelogram">Parallelogram</button>
        <button id="create-trapezoid">Trapezoid</button>
        <button id="create-star">Star</button>
        <button id="create-hexagon">Hexagon</button>
        <button id="create-pentagon">Pentagon</button>
        <button id="create-rhombus">Rhombus</button>
    </div>
      <canvas id="canvas"></canvas>
      <script src="/js/canvas.js" ></script>
</div>
</body>
</html>
