<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/fabric@latest/dist/index.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/canvas.css">
    <style>
        #ui-toolbar{
            position: absolute;
            z-index: 12;
            transition: transform 0.3s ease, opacity 0.3s ease;
            transform: translateX(0);
            left: 1rem;
        }

        #ui-toolbar.collapsed {
            transform: translateX(-120%);
            opacity: 0;
            pointer-events: none;
        }

        #share-btn i {
            transition: transform 0.3s ease, color 0.3s ease;
        }

        #copy-notification {
            transition: opacity 0.5s ease;
        }

        #copy-notification.show {
            opacity: 1;
        }

    </style>
</head>
<body class="bg-gray-100 m-0 p-0 overflow-hidden">

<div id="canvas-related" class="relative flex items-center">
    <!-- Обёртка для панели и кнопки -->
    <div class="absolute top-1/2 transform -translate-y-1/2 flex items-center z-50 space-x-1">
        <!-- Панель -->
        <div id="ui-toolbar" class="bg-white bg-opacity-90 p-3 rounded-lg shadow-lg flex flex-col gap-3 w-16 transition-all duration-300 left-4 collapsed">
            <button id="set-cursor-style" class="p-2 rounded-lg bg-gray-200 hover:bg-gray-300 transition">
                <i class="fas fa-mouse-pointer"></i>
            </button>
            <button id="set-pencil-style" class="p-2 rounded-lg bg-gray-200 hover:bg-gray-300 transition">
                <i class="fa-solid fa-pen" style="color: #000000;"></i>
            </button>
            <button id="set-delete-style" class="p-2 rounded-lg bg-gray-200 hover:bg-gray-300 transition">
                <i class="fa-solid fa-trash" style="color: #000000;"></i>
            </button>
            <input type="color" id="color-picker" value="#000000" class="p-2 rounded-lg bg-gray-200 hover:bg-gray-300 transition w-10 h-10">
            <input type="text" id="color-input" value="#000000" class="p-2 rounded-lg bg-gray-200 hover:bg-gray-300 transition">
        </div>
    </div>

    <div class="relative" id="divcanvas">
        <canvas id="grid-shader" class="z-0 absolute top-0 left-0" width="800" height="600"></canvas>
        <canvas id="canvas" class=" absolute z-10 top-0 left-0" width="800" height="600"></canvas>

        <button id="share-btn"
                class="p-2 rounded-lg bg-white bg-opacity-90 absolute hover:bg-gray-300 transition shadow-lg z-50 top-2 left-2 w-10 h-10">
            <i id="share-icon" class="fa-solid fa-share"></i>
        </button>

        <div id="coords-widget" class="p-2 rounded-lg bg-white bg-opacity-90 absolute hover:bg-gray-300 transition shadow-lg z-50 bottom-0 right-0">
            <label>
                X: <input type="number" id="input-x" class="border rounded px-1 w-20" value="0"/>
            </label>
            <label>
                Y: <input type="number" id="input-y" class="border rounded px-1 w-20" value="0" />
            </label>
        </div>


        <!-- Уведомление для копирования -->
        <div id="copy-notification" class="hidden absolute top-16 left-2 text-green-500 bg-white p-2 rounded-lg shadow-lg">
            Ссылка скопирована!
        </div>


        <script>
            const shareBtn = document.getElementById('share-btn');
            const shareIcon = document.getElementById('share-icon');
            const notification = document.getElementById('copy-notification');

            shareBtn.addEventListener('click', () => {
                // Копируем ссылку
                const currentPath = window.location.href;
                navigator.clipboard.writeText(currentPath)
                    .then(() => {
                        // После копирования показываем уведомление
                        notification.classList.add('show');
                        setTimeout(() => {
                            notification.classList.remove('show');
                        }, 1500); // Убираем уведомление через 1.5 секунды

                        // Меняем иконку на галочку
                        shareIcon.classList.remove('fa-share');
                        shareIcon.classList.add('fa-check');

                        // Возвращаем иконку обратно через 1.5 секунды
                        setTimeout(() => {
                            shareIcon.classList.remove('fa-check');
                            shareIcon.classList.add('fa-share');
                        }, 1500);
                    })
                    .catch(err => {
                        console.error('Ошибка при копировании: ', err);
                    });
            });

        </script>
    </div>
</div>

<script>
    const toolbar = document.getElementById('ui-toolbar');
    let isCollapsed = false;
    
    const ACTIVATION_THRESHOLD_X = window.innerWidth * 0.10;
    const ACTIVATION_THRESHOLD_Y = window.innerHeight * 0.10;

    window.addEventListener('mousemove', (e) => {
        const distanceToLeft = e.clientX; // расстояние от левого края
        const distanceToCenter = Math.abs(e.clientY - window.innerHeight / 2);

        if (distanceToLeft <= ACTIVATION_THRESHOLD_X && distanceToCenter <= ACTIVATION_THRESHOLD_Y) {
            // Показываем
            toolbar.classList.remove('collapsed');
        } else {
            // Скрываем
            toolbar.classList.add('collapsed');
        }
    });
</script>

<script src="~/js/canvas.js"></script>
<script src="~/js/glcanvas.js"></script>
</body>
</html>
