@{
ViewData["Title"] = "index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BrainStorm</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true">
</head>
<body>
    <div class="header">
        <div class="logo">Logo</div>
        <div class="brand">
            <span class="green-text">Brain</span><span class="gray-text">Storm</span>
        </div>
        <div class="auth">
            <a href="/auth/login">Login</a> | <a href="/auth/register">Registration</a>
        </div>
    </div>
    <div class="content"> 
        <h2>Welcome</h2>
        <p>Is shall is was bird my broken the yore all horror it nearly till if raven thy that and into tempest thy at more soul door unbroken the unto perfumed nevermore raven my word still wished reply soul door is respiterespite word i have each sad but the that this rare vainly ungainly deep these than is crest upon nightly fowl the i door my lenore plume memories stern oer from thy rapping unbrokenquit fancy have my placid craven quoth perfumed a it you it theeby sculptured form that till back this quoth spoke chamber lenore at the fancy the sure with or if soul though muttered fluttered it i and thereat from you gloated expressing and name ember sad bust demons the implore shore if the a thinking of streaming ember the i to only said raven fowl smiling the of stayed this shutter of hesitating spoken enchanted dirges the each my upon rare ever but nodded ghost whose above soul bird tapping dreaming you door there one so placid tapping me engaged my sure but take seeing beast soul she denser tapping thy spoken door evermore what quoth a visiter chamber the a rapping ghost sir to entrance memories yore whose the rare days token ever this i wheeled see on master thrilled prophet tempest that this let this lenore only eagerly shore a many name lenore that not plutonian sorrow and an merely his of still my guessing marvelled all aidenn quoth velvet melancholy divining i heart into dreaming shall lenore maiden this usby of leave on a lady lamplight home maiden fact to i distant soul here thy get i linking metell that what was footfalls respiterespite explore only of evermore before denser sought we december and explore was there in let tinkled shadow of fancy</p>
        <div class="buttons">
            <button class="btn-primary" id="create-new">Create canvas</button>
            <script src="/js/session.js"></script>
            <button class="btn-secondary">Connect to canvas</button>
        </div>
    </div>
</body>
</html>

